--extra-index-url https://download.pytorch.org/whl/cpu

langgraph
langchain==1.1.0
langchain-openai
langchain-anthropic
langchain-groq
python-dotenv
colorama
chainlit==2.9.3
tqdm
sentence-transformers
chromadb

torch==2.9.1+cpu